.textarea {
  font-family: Menlo, Monaco, "Courier New", monospace;
  padding: 1px 6px;
  background-color: #222;  
  color: #fafafa;
  border: none;
  outline: none;
  resize: none;
  display: block;
  width: 100%;
  overflow: hidden;
  min-height: 40px;
  line-height: 20px;
}